<template name="Header">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <!-- Display three horizontal lines when navbar collapsed. -->
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{pathFor 'Home'}}">Textbook Mania</a>
      </div>
        <!-- Display collapse subitems related to menu -->
      <ul class="collapse navbar-collapse" id="main-nav">

        <ul class="nav navbar-nav navbar-right">
          {{#if currentUser}}
          <li>
            <a data-toggle="dropdown" class="dropdown-toggle">Textbooks<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ pathFor 'Textbooks' }}">List Textbooks</a></li>

              {{#if isInRole 'admin'}}
              <li><a href="{{ pathFor 'AddTextbooks' }}">Add Textbooks</a></li>
              {{/if}}

            </ul>
          </li>

          <li>
            <a data-toggle="dropdown" class="dropdown-toggle">Buy<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ pathFor 'ListBuyOffer' }}">List BuyOffers</a></li>
              <li><a href="{{ pathFor 'AddBuyOffer' }}">Add Buy Offer</a></li>
            </ul>
          </li>

          <li>
            <a data-toggle="dropdown" class="dropdown-toggle">Sell<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ pathFor 'ListSellOffer' }}">List Sell Offers</a></li>
              <li><a href="{{ pathFor 'AddSellOffer' }}">Add Sell Offer</a></li>
            </ul>
          </li>
          <li><a href="{{ pathFor 'Matches' }}">Matches</a></li>

          {{/if}}
          <li><a href="{{ pathFor 'Help' }}">Help</a></li>
          {{> CasLogin }}
        </ul>
      </ul>
    </div>
  </nav>
</template>
