<template name="Matches">
  <div class="container">
    <h1>Matches</h1>


    {{#IfLoggedIn}}
    <div class="col-sm-6 well">
      <table class="table">
        <caption>Sell Offer Matches</caption>
        <thead>
        <tr>
          <th>Title</th>
          <th>ISBN</th>
          <th>Condition</th>
          <th>Offer</th>
          <th>Expires</th>
          <th>Buyer</th>
        </tr>
        </thead>

        <tbody>
        {{#each findSellMatches}}
        <tr>
          <td>{{title}}</td>
          <td>{{isbn}}</td>
          <td>{{condition}}</td>
          <td>{{offer}}</td>
          <td>{{expires}}</td>
          <td><a class="accept" href="#">{{owner}}</a></td>
        </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="col-sm-6 well">

      <table class="table">
        <caption>Buy Offer Matches</caption>
        <thead>
        <tr>
          <th>Title</th>
          <th>ISBN</th>
          <th>Condition</th>
          <th>Offer</th>
          <th>Expires</th>
          <th>Seller</th>
        </tr>
        </thead>

        <tbody>
        {{#each findBuyMatches}}
        <tr>
          <td>{{title}}</td>
          <td>{{isbn}}</td>
          <td>{{condition}}</td>
          <td>{{offer}}</td>
          <td>{{expires}}</td>
          <td><a class="openChat" href="#">{{owner}}</a></td>
        </tr>

        {{/each}}
        </tbody>
      </table>
    </div>


    {{/IfLoggedIn}}
  </div>
</template>