<template name="Home" xmlns="http://www.w3.org/1999/html">

  {{#if currentUser}}

  <!-- manually implemented cover image -->
  <!--
  <div class="heroImage">
    <img src="/images/ex3.jpg" height="290px" width="1100px">
  </div>
  -->
  <div class="heroImage">
    <img src="/images/ex3.jpg" height="290px" width="1100px">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="well">
          <h2>Textbook Mania is a way students from the ICS Department can exchange their textbooks in a more efficient way. It's an alternative way to make exchanges without the use of other web applications such as Craigslist.
          </h2>

        </div>
      </div>
    </div>
  </div>


  <!-- Start of row of button icons -->
  <!--
  <div class="container">
    <div class="row">

      <div class="col-lg-2">
        <div class="well">
          <a href="{{ pathFor 'Students' }}"><i class="fa fa-users fa-5x"></i><br><h3>Students</h3></a>


        </div>
      </div>

      <div class="col-lg-2">
        <div class="well">

          <a href="{{ pathFor 'AddBuyOffer' }}"><i class="fa fa-cart-plus fa-5x"></i><br><h3>Buy Books</h3></a>

        </div>
      </div>

      <div class="col-lg-2">
        <div class="well">

          <a href="{{ pathFor 'Matches' }}"><i class="fa fa-check-circle-o fa-5x"></i><br><h3>Matches</h3></a>

        </div>
      </div>


      <div class="col-lg-2">
        <div class="well">

          <a href="{{ pathFor 'Textbooks' }}"><i class="fa fa-book fa-5x"></i><br><h3>TextBooks</h3></a>

        </div>
      </div>

      <div class="col-lg-2">
        <div class="well">

          <a href="{{ pathFor 'AddSellOffer' }}"><i class="fa fa-usd fa-5x"></i><br><h3>Sell Books</h3></a>

        </div>
      </div>

      <div class="col-lg-2">
        <div class="well">

          <a href="{{ pathFor 'Help' }}"><i class="fa fa-question fa-5x"></i><br><h3>Help</h3></a>

        </div>
      </div>

    </div>
  </div> -->
  <!--End of row of button icons -->

  {{else}}
  <h3>You are currently not logged in.
  Need <a href="{{ pathFor 'Help' }}">help</a>?</h3>


  <div class="homeIm">
    <img src="/images/heroIm.jpg" width="610" height="430">

  </div>

  {{/if}}

</template>
