<template name="Textbooks">
  <h1>List all textbooks</h1>
  {{#IfLoggedIn}}
    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>Picture</th>
          <th>Title</th>
          <th>ISBN</th>
          {{#if isInRole 'admin'}}
          <th>Edit</th>
          <th>Delete</th>
          {{/if}}
        </tr>
        </thead>

        <tbody>
        {{#each textbooksList}}
          <tr>
            <td><img src="{{image}}"></td>
            <td>{{title}}</td>
            <td>{{isbn}}</td>
            {{#if isInRole 'admin'}}
            <td><a href="{{pathFor 'EditTextbooks'}}">Edit</a></td>
            <td><a class="delete" href="#">Delete</a></td>
            {{/if}}
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>
  {{/IfLoggedIn}}
</template>
