<template name="ListStudent">
  <h1>List all Students</h1>
  {{#IfLoggedIn}}

    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>Picture</th>
          <th>First</th>
          <th>Last</th>
          <th>Email</th>
          {{#if isInRole}}
          <th>Edit</th>
          <th>Delete</th>
          {{/if}}

        </tr>
        </thead>

        <tbody>
        {{#each studentList}}
          <tr>
            {{#if image}}
            <td><img class="userImage img-rounded" src="{{image}}"></td>
            {{else}}
            <td><i class="fa fa-user userImage"></i></td>
            {{/if}}
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{email}}@hawaii.edu</td>
            {{#if isInRole 'admin'}}
            <td><a href="{{pathFor 'EditStudent'}}">Edit</a></td>
            <td><a class="delete" href="#">Delete</a></td>
            {{/if}}
          </tr>
        {{/each}}
        </tbody>
      </table>

    </div>

  {{/IfLoggedIn}}
</template>
