<template name="ViewStudent">
  <h1>List all Students</h1>
  {{#IfLoggedIn}}
    <div class="well">

      <table class="table">
        <thead>
        <tr>
          <th>Picture</th>
          <th>First</th>
          <th>Last</th>
          <td>Email</td>
          <td>Email notifications</td>
          <th>Edit</th>

        </tr>
        </thead>

        <tbody>
        {{#each studentList}}
          <tr>
            <th>picture</th>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{email}}</td>
            <td>{{send}}</td>
            <td><a href="{{pathFor 'EditStudent'}}">Edit</a></td>

          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  {{/IfLoggedIn}}
</template>
