body {
  padding-top: 50px;  /* Move body of page below navbar. */
  text-align: center;
  background-color: black;
  color: white;
}


.navbar-inverse {
  background-color: black;
  border: none;
  height: 10px;
}

.navbar-inverse .navbar-brand {
  font-size: 35px;
  color: white;
}

.navbar-inverse .navbar-nav>li>a {
  font-size: 18px;
  color: white;
  padding-top: 10px;
}


.well a{
  color: royalblue;
}

.well h3{
  color: white;
}

h3 {
  color: white;
}

.well {
  text-align: center;
  color: white;
  background-color: transparent;
  border: none;
}

p {
  color: white;
}

.helpPage {
  color: white;
  text-align: left;
}

.helpMessage {
  font-family: Arial;
  text-align: left;
}

.helpPage h2 {
  color: royalblue;
}

.helpPage h3 {
  color: #ec971f;
}

.heroImage {
  background-size: cover;
  background-position: center;

}

.homepageImage {
  background-image: url("/images/bookwall.jpg");
  background-size: 400px;

}

.vertical {
  height: 500px;

}

.userImage, .textbookImage{
  font-size: 100px;
  width: 100px;
  height: 100px;
}


