body {
  padding-top: 0px;  /* Move body of page below navbar. */
  text-align: center;
}

.bookHeader {
  background-image: url("/images/tbm3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 240px;
}

.navbar-inverse {
  background-color: RoyalBlue;
  border-color: royalblue;
  border-radius: 0px;
  color: white;
}

.navbar-inverse .navbar-brand{
  color: #dbdbdb;
  padding-top:0px;
}

.navbar-inverse .navbar-nav>li>a {
  font-family: Ubuntu, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  color: #E5EDDC;
  text-align: center;
  width : 8em;
}

a {
  color: royalblue;

}

.well {
  text-align: right;
  color: royalblue;
  border-color: #080808;
  border-width: 3px;
  background-color: white;
}

.studentLogo {
  background-image: url("/images/student.jpg");
  background-size: 30%;
  background-position: left;
  background-repeat: no-repeat;

}

.buy {
  background-image: url("/images/addtocart.jpeg");
  background-size: 30%;
  background-position: left;
  background-repeat: no-repeat;
}

.homepageImage {
  background-image: url("/images/homeimage2.jpg");
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}



.userImage, .textbookImage{
  font-size: 100px;
  width: 100px;
  height: 100px;
}


