body {
  padding-top: 70px;  /* Move body of page below navbar. */
}

.navbar-inverse {
  background-color: RoyalBlue;
  border-color: RoyalBlue;
}

.navbar-inverse .navbar-brand{
  color: #dbdbdb;
}

.container {
  text-align: center;
}

.well {
  text-align: center;
  border-color: #080808;

}


.homepageImage {
  background-image: url("/images/homeimage2.jpg");
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
